$themeColor: #409EFF;
$pageGreyBackgroundColor: rgb(236, 235, 235);
$mainTextColor: #303133;
$regularTextColor: #606266;
$secondaryTextColor: #909399;
$placeholderTextColor: #C0C4CC;
$firstLevelBorderColor: #DCDFE6;
$secondLevelBorderColor: #E4E7ED;
$thirdLevelBorderColor: #EBEEF5;
$fourthLevelBorderColor: #F2F6FC;
